<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
    <body>
        <table>
            <thead>
            <tr>
                <th scope="col" id="id">No</th>
                <th scope="col" id="title">Title</th>
                <th scope="col" id="description">Description</th>
                <th scope="col" id="category">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question : ${questions}">
                <td th:text="${questionStat.count}"></td>
                <td th:text="${question.title}">Pytanie</td>
                <td th:text="${question.description}">Opis pytania</td>
                <td th:text="${question.category.getName()}">Kategoria</td>
            </tr>
            </tbody>
        </table>
    </body>
</html>