<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <a th:href="@{'/questions'}"><button type="button">View all questions</button></a>
    <section>
        <p>Title:</p>
        <span th:text="${question.title}"></span>
        <p>Description:</p>
        <span th:text="${question.description}"></span>
        <p>Category:</p>
        <span th:text="${question.category.getName()}"></span>
        <p>Answers:</p>
        <ul>
            <li th:text="${question.answer1.getDescription()}" th:classappend="${question.answer1.getCorrect()} ? correct : wrong"></li>
            <li th:text="${question.answer2.getDescription()}" th:classappend="${question.answer2.getCorrect()} ? correct : wrong"></li>
            <li th:text="${question.answer3.getDescription()}" th:classappend="${question.answer3.getCorrect()} ? correct : wrong"></li>
            <li th:text="${question.answer4.getDescription()}" th:classappend="${question.answer4.getCorrect()} ? correct : wrong"></li>
        </ul>
        <!--Uncomment after implementation of dating records-->
        <!--<p>Created by:</p>-->
        <!--<span th:text="${question.getCreatedBy().getName()}"></span>-->
        <!--<p>Creation date:</p>-->
        <!--<span th:text="${question.getCreateDate()}"></span>-->
        <!--<p>Modify by:</p>-->
        <!--<span th:text="${question.getModifyBy().getName()}"></span>-->
        <!--<p>Last modification date:</p>-->
        <!--<span th:text="${question.getModifyDate()}"></span>-->
    </section>
</body>
</html>