<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <section>
        <div th:if="${question != null}">
            <form th:action="@{${question.id}}" th:method="PUT" th:object="${questionForm}">
                <p>Title:</p>
                <input th:value="${question.title}" name="title"/>
                <p>Description:</p>
                <input th:value="${question.description}" name="description"/>
                <p>Category:</p>
                <select name="categoryId">
                    <option th:selected="${question.category.getId() == category.getId()}"
                            th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
                <p>Answers:</p>
                <ul>
                    <li>
                        <input th:value="${question.answer1.getDescription()}" name="answer1" />
                        <input th:type="checkbox" th:checked="${question.answer1.getCorrect()}"  name="isCorrect1"/>
                    </li>
                    <li>
                        <input th:value="${question.answer2.getDescription()}" name="answer2"/>
                        <input th:type="checkbox" th:checked="${question.answer2.getCorrect()}" name="isCorrect2"/>
                    </li>
                    <li>
                        <input th:value="${question.answer3.getDescription()}" name="answer3"/>
                        <input th:type="checkbox" th:checked="${question.answer3.getCorrect()}" name="isCorrect3"/>
                    </li>
                    <li>
                        <input th:value="${question.answer4.getDescription()}" name="answer4"/>
                        <input th:type="checkbox" th:checked="${question.answer4.getCorrect()}" name="isCorrect4"/>
                    </li>
                </ul>
                <input th:type="submit" th:value="Save"/>
            </form>
        </div>
        <div th:if="${question == null}">
            <form th:method="POST" th:object="${questionForm}">
                <p>Title:</p>
                <input name="title"/>
                <p>Description:</p>
                <input name="description"/>
                <p>Category:</p>
                <select name="categoryId">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
                <p>Answers:</p>
                <ul>
                    <li>
                        <input name="answer1" />
                        <input th:type="checkbox" name="isCorrect1"/>
                    </li>
                    <li>
                        <input name="answer2"/>
                        <input th:type="checkbox" name="isCorrect2"/>
                    </li>
                    <li>
                        <input name="answer3"/>
                        <input th:type="checkbox" name="isCorrect3"/>
                    </li>
                    <li>
                        <input name="answer4"/>
                        <input th:type="checkbox" name="isCorrect4"/>
                    </li>
                </ul>
                <input th:type="submit" th:value="Save"/>
            </form>
        </div>
    </section>

</body>
</html>