<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
    <body>
    <a href="/questions/new">
        <input th:type="button" th:value="New"/>
    </a>

        <table>
            <thead>
            <tr>
                <th scope="col" id="id">No</th>
                <th scope="col" id="title">Title</th>
                <th scope="col" id="description">Description</th>
                <th scope="col" id="category">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question : ${questions}">
                <td th:text="${questionStat.count}"></td>
                <td th:text="${question.title}">Pytanie</td>
                <td th:text="${question.description}">Opis pytania</td>
                <td th:text="${question.category.getName()}">Kategoria</td>
                <td>
                    <a th:href="${'/questions/update/' + question.getId()}">
                        <input type="button" value="Edit"/>
                    </a>
                </td>
                <td>
                    <form action="#" th:action="@{'/questions/{id}'(id=${question.id})}" th:method="delete" >
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" id="submitButton">Delete </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>