<div th:fragment="categories">
    <a th:href="@{'categories/new'}" ><button type="button">Add new category</button></a>
    <table>
        <thead>
        <tr>
            <th scope="col" id="id">Id</th>
            <th scope="col" id="name">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${#lists.sort(categories)}" >
            <td th:text="${categoryStat.count}"></td>
            <td th:text="${category.name}">Category</td>
            <td>
                <a th:href="@{'/categories/' + ${category.id}}"><button type="button">View details</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="category">
    <a th:href="@{'/categories'}"><button type="button">View all categories</button></a>
    <section>
        <p>Id:</p>
        <span th:text="${category.id}"></span>
        <p>Category name:</p>
        <span th:text="${category.name}"></span>
        <!--Uncomment after implementation of dating records-->
        <!--<p>Created by:</p>-->
        <!--<span th:text="${category.getCreatedBy().getName()}"></span>-->
        <!--<p>Creation date:</p>-->
        <!--<span th:text="${category.getCreateDate()}"></span>-->
        <!--<p>Modify by:</p>-->
        <!--<span th:text="${category.getModifyBy().getName()}"></span>-->
        <!--<p>Last modification date:</p>-->
        <!--<span th:text="${category.getModifyDate()}"></span>-->
        <a th:href="@{'/categories/edit/' + ${category.id}}"><button type="button">Edit category</button></a>
        <form action="#" th:action="@{'{id}'(id=${category.id})}" th:method="delete" >
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" id="submitButton">Delete category</button>
        </form>
    </section>
</div>

<div th:fragment="form">
    <form action="#" th:object="${category}" th:action="@{'{id}'(id=${category.id})}" th:method="${method}" >
        <label for="name">Category name</label>
        <input type="text" th:field="*{name}" th:value="${category}" id="name"/>

        <th:block th:include="category/button :: ${button}" />
    </form>
</div>