<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:include="category/title :: ${title}" />
</head>

<body>
    <form th:action="@{/categories/new}" th:object="${category}" method="post" >
        <label for="name">Category name</label>
        <input type="text" th:field="*{name}" th:value="${category}" id="name"/>

        <th:block th:include="category/button :: ${button}" />
    </form>
</body>
</html>