<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <a th:href="@{'/categories'}"><button type="button">View all categories</button></a>
    <section>
        <p>Id:</p>
        <span th:text="${category.id}"></span>
        <p>Category name:</p>
        <span th:text="${category.name}"></span>
        <a th:href="@{'/categories/edit/' + ${category.id}}"><button type="button">Edit category</button></a>
        <!--Uncomment after implementation of dating records-->
        <!--<p>Created by:</p>-->
        <!--<span th:text="${category.getCreatedBy().getName()}"></span>-->
        <!--<p>Creation date:</p>-->
        <!--<span th:text="${category.getCreateDate()}"></span>-->
        <!--<p>Modify by:</p>-->
        <!--<span th:text="${category.getModifyBy().getName()}"></span>-->
        <!--<p>Last modification date:</p>-->
        <!--<span th:text="${category.getModifyDate()}"></span>-->
    </section>
</body>
</html>