<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:include="category/title :: ${title}" />
    <title>Title</title>
</head>
<body>
    <div th:include="category/body :: ${body}" />
</body>
</html><div th:fragment="form">
    <form action="#" th:object="${category}" th:action="@{'{id}'(id=${category.id})}" th:method="${method}" >
        <label for="name">Category name</label>
        <input type="text" th:field="*{name}" th:value="${category}" id="name"/>

        <th:block th:include="category/button :: ${button}" />
    </form>
</div>