<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
    <body>
    <a th:href="@{'categories/new'}" ><button type="button">Add new category</button></a>
        <table>
            <thead>
            <tr>
                <th scope="col" id="id">Id</th>
                <th scope="col" id="name">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}" >
                <td th:text="${categoryStat.count}"></td>
                <td th:text="${category.name}">Category</td>
               <td>
                   <a th:href="@{'/categories/' + ${category.id}}"><button type="button">View details</button></a>
               </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>